<form [formGroup]="addForm" (ngSubmit)="saveAdded()">
<div class="form-group" style="background-color: rgba(158, 179, 175, 0.041);">
        
        <div class="row">
            <label class="col-sm-2 col-form-label"> Id<span style="color: red;">*</span></label>
            <div class="col-sm-5"></div>
            <label class="col-sm-2 col-form-label">Email<span style="color: red;">*</span></label>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <input type="text" [disabled]="!addbutton" class="form-control" placeholder="Id" formControlName="id"  [ngClass]="{ 'is-invalid': submitted && f.id.errors }" >
                <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                    <div *ngIf="f.id.errors.required">ID is required</div>
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Email" formControlName="Email"  [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" >
                <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                    <div *ngIf="f.Email.errors.required">Email is required</div>
                </div>
            </div>
        </div>

        <div class="row">
                <label class="col-sm-2 col-form-label"> Name<span style="color: red;">*</span></label>
                <div class="col-sm-5"></div>
                <label class="col-sm-2 col-form-label">total Employee<span style="color: red;">*</span></label>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Name"  formControlName="Name"  [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" >
                    <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                        <div *ngIf="f.Name.errors.required">Name is required</div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Total Employee" formControlName="totalEmployee"  [ngClass]="{ 'is-invalid': submitted && f.totalEmployee.errors }" >
                    <div *ngIf="submitted && f.totalEmployee.errors" class="invalid-feedback">
                        <div *ngIf="f.totalEmployee.errors.required">totalEmployee is required</div>
                    </div>
                    </div>
            </div>


            <div class="row">
                    <label class="col-sm-2 col-form-label"> total Branch<span style="color: red;">*</span></label>
                    <!-- <div class="col-sm-5"></div> -->
                    <!-- <label class="col-sm-2 col-form-label"> add branch<span style="color: red;">*</span></label> -->
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Total Branch" formControlName="totalBranch"  [ngClass]="{ 'is-invalid': submitted && f.totalBranch.errors }" >
                        <div *ngIf="submitted && f.totalBranch.errors" class="invalid-feedback">
                            <div *ngIf="f.totalBranch.errors.required">totalBranch is required</div>
                        </div>
                        </div>
                </div>



</div>

<div style="text-align: center">

        <button *ngIf="addbutton"  type="submit" class="btn btn-success">Add</button>

        <button  *ngIf="!addbutton" type="submit" class="btn btn-success">Update</button>
        <!-- <button data-bs-dismiss="modal" aria-label="Close" type="button" class="btn btn-danger">Cancel</button> -->
    </div>
</form>